[user]
	name = Diogo Korok
	email = korokd@protonmail.ch
	signingkey = CA6965E8E672EBAD
[core]
	editor = vim
	excludesFile = ~/.gitignore
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
release = "!f() { \
  set -ae; \
  RELEASE_NAME=$1; \
  CURRENT_FOLDER=${PWD##*/}; \
  LATEST_TAG=$(git describe --tags --abbrev=0); \
  MERGES=$(git log --oneline --decorate --graph --merges "$LATEST_TAG"..HEAD); \
  TRIPLE_BACK_TICK='```'; \
  SINGLE_BACK_TICK='`'; \
  HASH=##; \
  RELEASE_MESSAGE=\"@here I am going to release $CURRENT_FOLDER\\n\\nProduct: $SINGLE_BACK_TICK$CURRENT_FOLDER $RELEASE_NAME$SINGLE_BACK_TICK\\nRelease URL:\\n\\n$TRIPLE_BACK_TICK\\n$HASH\\n\\n$HASH Merged PRs\\n$MERGES\\n$TRIPLE_BACK_TICK\"; \
  echo $RELEASE_MESSAGE; \
  echo $RELEASE_MESSAGE | pbcopy;  \
  git tag $1; \
  echo "The release message is in your clipboard. Paste it in your favorite editor and add the human readable features and bug fixes and then paste it in slack";  \
}; f"
