[user]
	name = Diogo Korok
	email = korokd@protonmail.ch
	signingkey = CA6965E8E672EBAD
[core]
	editor = vim
	excludesFile = ~/.gitignore
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
